@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.vhs-scanlines {
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.08) 0px,
    rgba(255, 255, 255, 0.08) 10px,
    transparent 2px,
    transparent 4px
  );
  opacity: 0.2;
}


@keyframes vhs-flicker {
  0% { opacity: 0.16; }
  50% { opacity: 0.22; }
  100% { opacity: 0.18; }
}

.vhs-scanlines {
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.14) 0px,
    rgba(255, 255, 255, 0.14) 3px,
    transparent 3px,
    transparent 10px
  );
  opacity: 0.45;
  mix-blend-mode: screen;
  animation: vhs-line-flicker 0.18s steps(3) infinite;
}

@keyframes vhs-sweep {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
.vhs-sweep::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 30%;
  backdrop-filter: blur(4px);
  background: linear-gradient(
    to bottom,
    transparent 80%,
    rgba(57, 58, 57, 0.05) 45%,
    rgba(58, 189, 6, 0.12) 50%,
    rgba(51, 51, 50, 0.05) 55%,
    transparent 20%
  );
  animation: vhs-sweep 4s linear infinite;
}

@keyframes vhs-sweep2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
.vhs-sweep2::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 30%;
  backdrop-filter: blur(4px);
  background: linear-gradient(
    to bottom,
    transparent 80%,
    rgba(57, 58, 57, 0.05) 45%,
    rgba(58, 189, 6, 0.12) 50%,
    rgba(51, 51, 50, 0.05) 55%,
    transparent 20%
  );
  animation: vhs-sweep2 6s linear infinite;
}

 
